<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body style="overflow-x: hidden;">
    <%= render "layouts/header" %>
    <div class="row", style="margin-top: 56px; margin-left: 20px;">
    <%= yield %>
  </body>
</html>